<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>消息详情</title>
    <link th:href="@{/css/message.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet"
          href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css"/>
</head>
<body>
<div class="header">
    <nav class="navbar navbar-default navbar-static-top"><img
            th:src="@{/picture/logo.png}"/>
        <ul>
            <li><a href="">消息更新</a></li>
        </ul>
    </nav>

</div>
<div class="content">
    <div class="panel panel-default">
        <div class="panel-body">
            <form th:action="@{/messagecontroller/update}">
                <input type="hidden" id="id" name="id" th:value="${messagedetail.id}"/>
                <lable>消息标题：</lable>
                <input type="text" id="messagetitle" name="messagetitle"
                       th:value="${messagedetail.messagetitle}"/> <br/> <br/> <br/>
                <lable>消息日期：</lable>
                <input type="date" id="date" name="date" th:value="${#dates.format(messagedetail.date,'yyyy-MM-dd')}"/> <br/>
                <br/> <br/>
                <lable style="vertical-align: top">消息正文：</lable>
                <textarea cols="100" rows="10" id="messagedetail" name="messagedetail" th:text="${messagedetail.messagedetail}">
                </textarea>
                <button type="submit">保存</button>
            </form>
        </div>
    </div>
</div>
</body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
</html>